@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient {
	background: radial-gradient(
		circle at 30% -100%,
		#002853 25%,
		#040c18 85%,
		#002853 100%
	);
}

.text-gradient {
	background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
	background-clip: text;
	color: transparent;
}

.gradient-bar {
	background: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);
}
